body {
  background-color: rgba(0, 0, 0, 0.914);
  color: rgb(255, 255, 255);
  margin: 0;
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "League Spartan", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@import "tailwindcss";
