body {
  background-color: rgba(0, 0, 0, 0.914);
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "League Spartan", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@media (min-width: 800px) {
  .home-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150vh;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: xx-large;
    min-height: 100vh;
  }

  .about {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
  }
  .title {
    font-size: xx-large;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
  }

  .about-introcontainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }

  .intro {
    flex-grow: 1;
    font-size: x-large;
    align-self: center;
    justify-self: center;
    padding-top: 20px;
    margin-inline: 20px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .work-exp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .work-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
  }
}
@media (max-width: 800px) {
  .home-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150vh;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: x-large;
    min-height: 100vh;
  }

  .about {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
  }
  .title {
    font-size: x-large;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
  }

  .about-introcontainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }
  .about-profile {
    transform: scale(75%);
  }
  .about-school {
    transform: scale(75%);
  }
  .intro {
    flex-grow: 1;
    font-size: medium;
    align-self: center;
    justify-self: center;
    padding-top: 20px;
    margin-inline: 20px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .work-exp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .work-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: scale(75%);
  }
  .card1 {
    margin-bottom: 50px;
  }
  .card2 {
    margin-bottom: 50px;
  }
}
@import "tailwindcss";
